.App {
  text-align: center;
}

img{
  border: 1px solid black;
  margin-top: 1rem;
}

.container{
  display: flex;
  border: 1px solid white;
  width: fit-content;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.cardTitle{
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  
}

.left{
margin-top: 2rem;
}

.right{
margin-top: 2rem;
margin-left: 1rem;
}

.abilities{
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.abilities p{
  color: red;
}

h4{
  text-decoration: underline;
}

p{
  text-transform: uppercase;
}

button{
  margin-left: 1rem;
  padding: 2px;
}

button:hover{
  background-color: black;
  color: white;
}